################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DishesAPI/.vs/DishesAPI.slnx
/src/DishesAPI/DishesAPI.Web/obj
/src/DishesAPI/.vs
/src/DishesAPI/DishesAPI.Web/bin/Debug/net10.0
/src/DishesAPI/DishesAPI.Web/Dishes.db-shm
/src/DishesAPI/DishesAPI.Web/Dishes.db-wal
