################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DishesAPI/.vs/DishesAPI.slnx
/DishesAPI/DishesAPI.Web/obj
/DishesAPI/.vs
/DishesAPI/DishesAPI.Web/bin/Debug/net10.0
/DishesAPI/DishesAPI.Web/Dishes.db-shm
/DishesAPI/DishesAPI.Web/Dishes.db-wal
