################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DishesAPI/.vs/DishesAPI.slnx
/src/DishesAPI/DishesAPI.Web/obj
/src/DishesAPI/.vs
/src/DishesAPI/.vs/*
/src/DishesAPI/DishesAPI.Web/bin/Debug/net10.0
/src/DishesAPI/DishesAPI.Web/Dishes.db-shm
/src/DishesAPI/DishesAPI.Web/Dishes.db-wal
/src/DishesAPI/.vs/DishesAPI.slnx/v18/.suo
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/ref/DishesAPI.Web.dll
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.AssemblyInfo.cs
/src/DishesAPI/DishesAPI.Web/bin/Debug/net10.0/appsettings.Development.json
/src/DishesAPI/DishesAPI.Web/bin/Debug/net10.0/appsettings.json
/src/DishesAPI/DishesAPI.Web/bin/Debug/net10.0/DishesAPI.Web.deps.json
/src/DishesAPI/DishesAPI.Web/bin/Debug/net10.0/DishesAPI.Web.dll
/src/DishesAPI/DishesAPI.Web/bin/Debug/net10.0/DishesAPI.Web.exe
/src/DishesAPI/DishesAPI.Web/bin/Debug/net10.0/DishesAPI.Web.pdb
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/ApiEndpoints.json
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/apphost.exe
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.AssemblyInfoInputs.cache
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.assets.cache
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.csproj.AssemblyReference.cache
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.csproj.CoreCompileInputs.cache
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.csproj.FileListAbsolute.txt
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.dll
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.genruntimeconfig.cache
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.pdb
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/DishesAPI.Web.sourcelink.json
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/rpswa.dswa.cache.json
/src/DishesAPI/DishesAPI.Web/obj/Debug/net10.0/refint/DishesAPI.Web.dll
/src/DishesAPI/DishesAPI.Web/obj/DishesAPI.Web.csproj.nuget.dgspec.json
/src/DishesAPI/DishesAPI.Web/obj/project.assets.json
/src/DishesAPI/DishesAPI.Web/obj/project.nuget.cache
/src/DishesAPI/DishesAPI.Web/Dishes.db-shm
/src/DishesAPI/DishesAPI.Web/Dishes.db-wal
